/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --header-height: 3rem;
    --hover-colour : blue;
    --heading-size: 2rem;
    --slightly-smaller-headings: 1.75rem;
    --small-text-size:0.75rem;
}
/* ============= GLOBALS =============== */

/* ============= GLOBALS =============== */

html{
    scroll-behavior: smooth;
    box-sizing: border-box;  /*read more on this */
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    color: var(--dark);

}

body
{
    background:var(--light);
    margin: 30px 50px;
    line-height: 1.4;
}

.btn{
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    
}
.imgbtn{

    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 2px solid;
}
img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    gap: 20px;
}
.top-container h1
{
    text-align: center;
}
/* =============END OF GLOBALS =============== */
.card{
    background: var(--light);
    padding: 1.3rem 1.2rem;
    box-sizing: border-box;
    box-shadow: var(--shadow);

}

/* =============HOME PAGE ================ */


/* NAVIGATION */
.main-nav ul
{   
    
    display: grid;
    gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(7,1fr);

}
.main-nav a
{   
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

/* Topcontainer */
.top-container
{

    
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'showcase';
 
}
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url("../images/image7.jpeg") ;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
.showcase h1 
{
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

/* End of top container */

/* Background story */
.background{
    
    display: grid;
    gap :20px;
    grid-template-areas: 'background__details background__details__image';
}

.background__details
{
    grid-area: background__details;
    background-color: var(--light);
    padding: 15px;
    
}
.background__details__image
{
    grid-area: background__details__image;
    
    
}
.background__details a
{
    text-align: center;
}
/* End of background story */

/* Stat section */
.stat__section{

    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    

}
.stat__section div p
{
    text-align: center;
}
.children{
    align-self: center;
}
.care{
    background: var(--light);
    padding: 1rem 1rem;
    
}

.number{
    font-size:3.5rem ;
    font-weight: 700;
}

/* End of stat section */
/* =============END OF HOME PAGE =============== */

/* ============= MISSION PAGE =============== */

.v_p_c
{
    display: grid;
    gap: 20px;
    grid-template-areas: 'vision purpose core values';
    
}
/* ============= END OF MISSION PAGE =============== */
/* ============= PROJECTS PAGE =============== */
   
.bottom_section{
    display: grid;
    gap: 15px;
    grid-template-areas: 'bottom_section_a bottom_section_b';
}
.bottom_section_a{
    grid-area: bottom_section_a;
}
.bottom_section_b{
    grid-area: bottom_section_b;
}
/* ============= END OF PROJECTS PAGE =============== */

/* ============= VOLUNTEER PAGE =============== */
#map
{
    width: 100%;
    min-height: 400px;
}
/* RESPONSIVE BREAKPOINTS */
@media screen and (max-width : 768px) {

    .wrapper
    {
        display: grid;
        gap: 20px;
    }
    .main-nav ul {
        grid-template-columns: 1fr;
    }
    /* home page */
    .showcase h1 
    {
        font-size: var(--heading-size)!important;
    }
    .background{
        grid-template-areas: 'background__details'
        'background__details__image';
    }
   /* mission page */

   .v_p_c
   {
       grid-template-areas: 
       'vision'
       'purpose'
       'core_values';
   }
    /* Projects page */
    .bottom_section
    {
        display: grid;
        grid-template-areas: 'bottom_section_a'
        'bottom_section_b';
    }
    
}

@media screen and (max-width : 480px) {
    
    .wrapper
    {
        display: grid;
        gap: 15px;
    }
    .main-nav ul {
        grid-template-columns: 1fr;
    }
    /* ========= HOME PAGE =========== */

    /* top container */
    .showcase h1 
    {
        font-size: var(--heading-size)!important;
    }

    /* background  */

    .background
    {
        display: grid;
        grid-template-areas: 
        'background__details'
        'background__details__image';
    }

    .background__details
    {
        grid-area: background__details;
    } 
    .background__details__image
    {
        grid-area: background__details__image;
    } 
    
    .stat__section
    {
       grid-template-columns: 1fr;
    }


}
